<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {# additional styles #}
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    {% endblock %}
    <section class="section">
      <div class="container" id="unotify">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="notification is-{{ category }}">
              <button class="delete"></button>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
      <div class="container">
      
      {# content section #}
      {% block content %}
      {% endblock %}
      
      
      </div>
    </section>
    <script>
    
    function closeNotificationDiv(){
      document.getElementById("unotify").style.display="none";
    }

    // close the div in 5 secs
    window.setTimeout("closeNotificationDiv();", 5000);

    </script>
    {# scripts #}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
