{% macro ckeditor(name, label, value="") %}
{# the venerable ckeditor from a CDN delivery url #}
<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <textarea name="{{ name }}" class="textarea" placeholder="Textarea">{{ value }}</textarea>
    <script>CKEDITOR.replace( '{{ name }}' );</script>
  </div>
</div>
{% endmacro %}

{% macro field(name, label, value="", placeholder="", category="", licon="", ricon="", help="", size="", is_password=False) %}
{# an attempt at a generic input field with full Bulma styling #}
{# licon = lefticon #}
{# ricon = righticon #}
{# size = (is-small, is-medium, is-large) #}
{# category = (is-danger, is-warning, is-info, is-success, is-default) #}
<div class="field">
  <label class="label {{size}}">{{ label }}</label>
  {% if licon and ricon %}
  <div class="control has-icons-left has-icons-right">
  {% elif licon %}
  <div class="control has-icons-left">
  {% elif ricon %}
  <div class="control has-icons-right">
  {% else %}
  <div class="control">
  {% endif %}
    <input class="input {{ category }} {{size}}" type={% if is_password %}"password"{% else %}"text"{% endif %} name="{{ name }}" placeholder="{{ placeholder }}" {% if value %}value="{{ value }}"{% endif %}>
    {% if licon %}
    <span class="icon is-small is-left">
      <i class="fas {{ licon }}"></i>
    </span>
    {% endif %}
    {% if ricon %}
    <span class="icon is-small is-right">
      <i class="fas {{ ricon }}"></i>
    </span>
    {% endif %}
  </div>
  {% if help %}
  <p class="help {{ size }} {{ category }}">{{ help }}</p>
  {% endif %}
</div>
{% endmacro %}

{% macro input(name, label, value="", placeholder="", size="", category="") %}
{# size = (is-small, is-medium, is-large) #}
{# category = (is-danger, is-warning, is-info, is-success, is-default) #}
<div class="field">
  <label class="label {{category}} {{ size }}">{{ label }}</label>
  <div class="control">
    <input class="input {{ size }}" type="text" placeholder="{{ placeholder }}" name="{{ name }}" {% if value %}value="{{ value }}"{% endif %}>
  </div>
</div>
{% endmacro %}

{% macro checkbox(name, label, checked=True) %}
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" name="{{ name }}" {% if checked %}checked="checked"{% endif %} />
      {{ label }}
    </label>
  </div>
</div>
{% endmacro %}

{% macro textfield(name, label, value="", placeholder="", size="", category="") %}
{# size = (is-small, is-medium, is-large) #}
{# category = (is-danger, is-warning, is-info, is-success, is-default) #}
<div class="field">
  <label class="label {{ category }} {{size}}">{{ label }}</label>
  <div class="control">
    <textarea class="textarea {{size}}" name="{{ name }}" placeholder="{{ placeholder }}">{{ value }}</textarea>
  </div>
</div>
{% endmacro %}

{% macro modal_enclosure(name) %}
{# helper enclosure, see modals below #}
<!-- Trigger/Open The Modal -->
<div>
      <button id="{{name}}Btn" type="button" class="button is-primary"  data-target="#{{name}}Modal">Edit</button>
</div>

<!-- The Modal -->
<div id="{{name}}Modal" class="modal" style="padding-top: 100px;">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        {{ caller() }}
      </div>
    </div>
    <button class="modal-close {{name}} is-large" aria-label="close"></button>
</div>

<script>
// Get the modal
var {{name}}modal = document.getElementById("{{name}}Modal");
// Get the button that opens the modal
var {{name}}btn = document.getElementById("{{name}}Btn");
// Get the <span> element that closes the modal
var {{name}}span = document.getElementsByClassName("modal-close {{name}}")[0];
// When the user clicks the button, open the modal 
{{name}}btn.onclick = function() {
    {{name}}modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
{{name}}span.onclick = function() {
    {{name}}modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == {{name}}modal) {
        {{name}}modal.style.display = "none";
    }
}
</script>
{% endmacro %}

{% macro modal_textfield(name, label, value="", placeholder="", size="")  %}
{# size = (is-small, is-medium, is-large) #}
  {% call modal_enclosure(name) %}
    {{ textfield(name, label) }}
  {% endcall %}
{% endmacro %}

{% macro modal_ckeditor(name, label, value="") %}
{% call modal_enclosure(name) %}
  {{ ckeditor(name, label, value="") }}
{% endcall %}
{% endmacro %}

{% macro select(name, label, selections, value="", category="", licon="", size="") %}
{# an attempt at a generic select field with Bulma styling #}
{# selections is a LIST of tuples. Each tuple is (value,label) #}
{# licon = lefticon #}
{# size = (is-small, is-medium, is-large) #}
{# category = (is-danger, is-warning, is-info, is-success, is-default) #}
<div class="field">
  <label class="label">{{label}} {{value}}</label>
  <div class="control {{ category }} {{size}} {%if licon %}has-icons-left{% endif %}">
    <div class="select">
      <select name="{{name}}">
        {% for val, lbl in selections %}
          {% if value==val %}
            <option value="{{val}}" selected="selected">{{lbl}}</option>
          {% else %}
            <option value="{{val}}">{{lbl}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    {% if licon %}
    <span class="icon {{size}} is-left">
      <i class="fas {{licon}}"></i>
    </span>
    {% endif %}
  </div>
</div>
{% endmacro %}